{% extends 'base.html' %}

{% block content %}

<h1 class="title">My Albums</h1>
{% for album in albums %} 
<div class="card">
<div class="card-title"><a href="{% url 'album-detail' album.pk %}">{{album}}</a></div>
</div>
{% endfor %}

<h1 class="title">My Artists</h1>
{% for artist in artists %} 
<div class="card">
<div class="card-title">{{artist}}</div>
<a href="{% url 'delete-artist' pk=artist.pk%}" class="button is-warning is-focused">Delete Artist</a> 

</div>
{% endfor %}


<a href="{% url 'add-artist' %}" class="button is-success is-focused">Add Artist</a> 

{% endblock content %}